# .NET Core
bin/
obj/
appsettings.*.json
appsettings.json

# Visual Studio
.vs/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# User-specific files
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/

# NuGet Packages
*.nupkg
.project.json

# VS Code
.vscode/

# Resharper
*_ReSharper.*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# Migration files (если нужно добавить миграции, уберите эту строку)
# Migrations/